<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->
<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:sscl="http://java.sun.com/jsf/composite/samply-share-client"
                xmlns:wu="http://share.samply.de/webutils">

    <ui:define name="title">#{msg.dashboard_title}</ui:define>

    <ui:define name="optional-import-constants">
        <o:importConstants type="de.samply.share.client.model.EnumInquiryStatus" />
    </ui:define>

    <ui:define name="main-content">
        <h:form>
            <div class="row">
                <!--Inquiries active-->
                <sscl:dashboardPanel title="#{msg.dashboard_inquiriesList}"
                                     details="#{wu:getInquiryCount('INQUIRY_ACTIVE')} #{msg.dashboard_inquiriesListDetails}"
                                     action="inquiries_list?faces-redirect=true" iconClass="fa-inbox"/>

                <!--Inquiries erroneous-->
                <sscl:dashboardPanel title="#{msg.dashboard_inquiriesError}"
                                     details="#{wu:getInquiryCount('INQUIRY_ERROR')} #{msg.dashboard_inquiriesErrorDetails}"
                                     action="inquiries_erroneous?faces-redirect=true" iconClass="fa-exclamation-triangle"/>

                <div class="clearfix visible-sm-block" />

                <!--Inquiries Archive-->
                <sscl:dashboardPanel title="#{msg.dashboard_inquiriesArchive}"
                                     details="#{wu:getInquiryCount('INQUIRY_ARCHIVE')} #{msg.dashboard_inquiriesArchiveDetails}"
                                     action="inquiries_archive?faces-redirect=true" iconClass="fa-archive"/>

                <!--TODO: not sure if this is a good idea...maybe read only access for tasks? And certain log items?-->
                <!--<div class="clearfix visible-md-block" />-->

                <!--&lt;!&ndash;Scheduled Tasks&ndash;&gt;-->
                <!--<sscl:dashboardPanel title="#{msg.dashboard_schedule}"-->
                                     <!--details="#{msg.dashboard_scheduleDetails}"-->
                                     <!--action="schedule_list?faces-redirect=true" iconClass="fa-tasks"/>-->

                <!--&lt;!&ndash;Event Log&ndash;&gt;-->
                <!--<sscl:dashboardPanel title="#{msg.dashboard_eventLog}"-->
                                     <!--details="#{msg.dashboard_eventLogDetails}"-->
                                     <!--action="event_log?faces-redirect=true" iconClass="fa-terminal"/>-->
            </div>
        </h:form>
    </ui:define>

</ui:composition>