<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:ssc="http://java.sun.com/jsf/composite/samply-share-common"
>
    <ui:define name="title">#{msg.inqs_inquiriesActiveTitle}</ui:define>

    <ui:define name="additional-css">
        <h:outputStylesheet name="webjars/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
    </ui:define>

    <ui:define name="additional-js">
        <h:outputScript name="webjars/datatables/1.10.13/js/jquery.dataTables.min.js" />
        <h:outputScript name="webjars/datatables/1.10.13/js/dataTables.bootstrap.min.js" />
        <h:outputScript library="js" name="pages/inquiries_list.js" />
        <h:outputScript library="js" name="date-de.js" />
    </ui:define>

    <ui:define name="main-content">
        <h:form prependId="false">
            <table id="active-inquiries-table" class="table table-hover table-condensed inquiry-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>#{msg.inqs_searchingFor}</th>
                        <th>#{msg.inqs_receivedAt}</th>
                        <th>#{msg.inqs_found}</th>
                        <th>#{msg.inqs_asOf}</th>
                    </tr>
                </thead>
            </table>
            <h:messages showDetail="true" showSummary="true" id="messages" globalOnly="true"/>
        </h:form>
        <div id="userIdDiv" style="display: none;">
            <h:outputText value="#{user.id}" />
        </div>
        <ssc:pleaseWaitModal />
    </ui:define>
</ui:composition>