<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:ssc="http://java.sun.com/jsf/composite/samply-share-common"
                xmlns:sscl="http://java.sun.com/jsf/composite/samply-share-client"
                xmlns:wu="http://share.samply.de/webutils"
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough"
>
    <ui:define name="title">
        <h:outputText value="#{inquiryBean.inquiry.label} " rendered="#{not empty inquiryBean.inquiry.label}"/>
        <h:outputText value="#{msg.inqs_noLabel} " rendered="#{empty inquiryBean.inquiry.label}"/>
    </ui:define>

    <ui:define name="subtitle">
        <h:outputText escape="false" value="#{inquiryBean.requestedEntitiesLabelString}" />
    </ui:define>

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="inquiryId" value="#{inquiryBean.selectedInquiryId}" />
            <f:viewAction action="#{inquiryBean.loadSelectedInquiry}" onPostback="false"/>
        </f:metadata>
    </ui:define>

    <ui:define name="additional-css">
        <h:outputStylesheet name="webjars/bootstrap-fileinput/4.4.2/css/fileinput.min.css" />
    </ui:define>

    <ui:define name="additional-js">
        <h:outputScript name="webjars/jquery-blockui/2.65/jquery.blockUI.js" target="body"/>
        <h:outputScript name="webjars/twbs-pagination/1.4.1/jquery.twbsPagination.min.js" target="body" />
        <h:outputScript name="webjars/bootstrap-fileinput/4.4.2/js/fileinput.min.js" target="body" />
        <h:outputScript name="webjars/bootstrap-fileinput/4.4.2/js/locales/de.js" target="body" />
        <h:outputScript library="js" name="pages/show_inquiry.js" target="body" />
        <h:outputScript library="js" name="documentBox.js" target="body"/>
    </ui:define>

    <ui:define name="optional-import-constants">
        <o:importConstants type="de.samply.share.client.model.EnumConfiguration" />
        <o:importConstants type="de.samply.share.client.model.db.enums.InquiryStatusType" />
        <o:importConstants type="de.samply.dktk.converter.EnumValidationHandling" />
    </ui:define>

    <ui:define name="main-content">
        <ui:param name="statsReady" value="#{inquiryBean.latestInquiryResultHasStats()}" />

        <!--Insert a button-grid (usually one row, but two on smaller screens) for exporting, re-executing, replying...-->
        <div class="row" style="margin-bottom: 20px;">
            <h:form>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 btn-group-split-left" style="margin-top: 5px;">
                    <div class="btn-group btn-group-justified" role="group" >
                        <ui:fragment rendered="#{not configurationBean.getAsBoolean(EnumConfiguration.INQUIRY_HIDE_RESULTS)}">
                            <ui:param name="disableExport" value="#{not inquiryBean.resultsReady
                                or inquiryBean.latestInquiryResult.statisticsOnly
                                or inquiryBean.latestInquiryResult.isError
                                or inquiryBean.latestInquiryResult.size lt 1}" />

                            <ui:param name="disableExecute"
                                      value="#{inquiryBean.latestInquiryDetails.status eq InquiryStatusType.IS_PROCESSING
                                                or inquiryBean.latestInquiryDetails.status eq InquiryStatusType.IS_NEW}" />

                            <ui:fragment rendered="#{not disableExport}">
                                <div class="btn-group export-grp" role="group">
                                    <button type="button" class="btn btn-default btn-lg dropdown-toggle export-base" data-toggle="dropdown"
                                            data-loading-text="#{msg.si_generating}..." aria-haspopup="true" aria-expanded="false">
                                        #{msg.si_exportResults} <span class="caret" />
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <h:commandLink type="submit" actionListener="#{inquiryBean.generateExportFile(EnumValidationHandling.NO_VALIDATION)}"
                                                           onclick="$('.export-base').button('loading');">
                                                #{msg.NO_VALIDATION}
                                            </h:commandLink>
                                        </li>
                                        <li>
                                            <h:commandLink type="submit" actionListener="#{inquiryBean.generateExportFile(EnumValidationHandling.REMOVE_INVALID_ENTRIES)}"
                                                           onclick="$('.export-base').button('loading');">
                                                #{msg.REMOVE_INVALID_ENTRIES}
                                            </h:commandLink>
                                        </li>
                                        <li>
                                            <h:commandLink type="submit" actionListener="#{inquiryBean.generateExportFile(EnumValidationHandling.KEEP_INVALID_ENTRIES)}"
                                                           onclick="$('.export-base').button('loading');">
                                                #{msg.KEEP_INVALID_ENTRIES}
                                            </h:commandLink>
                                        </li>
                                    </ul>
                                </div>
                            </ui:fragment>
                            <ui:fragment rendered="#{disableExport}">
                                <div class="btn-group export-grp" role="group">
                                    <button type="button" class="btn btn-default btn-lg disabled">#{msg.si_exportResults}</button>
                                </div>
                            </ui:fragment>
                        </ui:fragment>
                        <ui:fragment rendered="#{not disableExecute}">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    #{msg.si_executeInquiry} <span class="caret" />
                                </button>
                                <ul class="dropdown-menu" style="width: 100%;">
                                    <li>
                                        <h:commandLink action="#{inquiryBean.spawnExecuteTask(false)}" type="submit">
                                            #{msg.si_executeInquiryStatsOnlyFalse}
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink action="#{inquiryBean.spawnExecuteTask(true)}" type="submit">
                                            #{msg.si_executeInquiryStatsOnlyTrue}
                                        </h:commandLink>
                                    </li>
                                </ul>
                            </div>
                        </ui:fragment>
                        <ui:fragment rendered="#{disableExecute}">
                            <div class="btn-group export-grp" role="group">
                                <button type="button" class="btn btn-default btn-lg disabled">#{msg.si_executeInquiry}</button>
                            </div>
                        </ui:fragment>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 btn-group-split-right" style="margin-top: 5px;">
                    <div class="btn-group btn-group-justified" role="group" >
                        <div class="btn-group" role="group">
                            <ui:fragment rendered="#{empty inquiryBean.latestInquiryAnswer and not empty inquiryBean.latestInquiryResult}">
                                <h:commandLink action="#{inquiryBean.reply}" styleClass="btn btn-default btn-lg" type="submit">
                                    #{msg.si_reply}
                                </h:commandLink>
                            </ui:fragment>
                            <ui:fragment rendered="#{not empty inquiryBean.latestInquiryAnswer}">
                                <button type="button" class="btn btn-default btn-lg disabled">#{msg.si_replySent}</button>
                            </ui:fragment>
                            <ui:fragment rendered="#{empty inquiryBean.latestInquiryAnswer and empty inquiryBean.latestInquiryResult}">
                                <button type="button" class="btn btn-default btn-lg disabled">#{msg.si_resultsNotAvailable}</button>
                            </ui:fragment>
                        </div>
                        <div class="btn-group" role="group">
                            <h:commandLink styleClass="btn btn-default btn-lg archivePopover" value="">
                                #{msg.si_archive}
                                <f:ajax />
                            </h:commandLink>
                            <h:commandLink id="archive-action" styleClass="archive-action" action="#{inquiryBean.archive}" style="display: none;" type="submit" />
                        </div>
                    </div>
                </div>
            </h:form>
        </div>

        <!--Use a 2 column row (for larger displays only) for additional infos-->
        <div class="row">
            <!--Left side-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div id="infoDiv" class="row">
                    <div class="col-xs-12">
                        <h:form>
                            <ui:include src="../WEB-INF/includes/c_inquiry_info.xhtml"/>
                        </h:form>
                    </div>
                </div>

                <div id="contactDiv" class="row">
                    <div class="col-xs-12">
                        <h:form>
                            <ui:include src="../WEB-INF/includes/c_inquiry_contact.xhtml" />
                        </h:form>
                    </div>
                </div>
            </div>

            <!--Right side-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div id="eventsDiv" class="row">
                    <div class="col-xs-12">
                        <h:form>
                            <ui:include src="../WEB-INF/includes/c_inquiry_events.xhtml" />
                        </h:form>
                    </div>
                </div>

                <div id="documentsDiv" class="row">
                    <!-- documents component contains its own forms -->
                    <div class="col-xs-12">
                        <ui:include src="../WEB-INF/includes/c_documents.xhtml" />
                    </div>
                </div>

                <ui:fragment rendered="#{not empty inquiryBean.latestInquiryAnswer}">
                    <div id="answerDiv" class="row">
                        <div class="col-xs-12">
                            <h:form>
                                <ui:include src="../WEB-INF/includes/c_inquiry_answer.xhtml" />
                            </h:form>
                        </div>
                    </div>
                </ui:fragment>
            </div>

        </div>

        <div style="margin-bottom: 10px;" />
        <h:form>
            <h:messages showDetail="true" showSummary="true" id="messages" globalOnly="true"/>
        </h:form>

        <!--TODO: maybe load original and modified tree? And older revisions?-->
        <!--and a single column row for the criteria tree-->
        <div class="row">
            <div class="col-xs-12">
                <h:form>
                    <sscl:bootstrapPanel collapsible="true" collapsibleStartExpanded="false" headingText="#{msg.si_criteria}"
                                         headingAsTitle="true" bodyAdditionalStyle="padding:0; overflow: hidden;">
                        <f:facet name="bodyContent">
                            <ssc:query queryTree="#{inquiryBean.latestOriginalCriteriaTree}" />
                        </f:facet>
                    </sscl:bootstrapPanel>
                </h:form>
            </div>
        </div>

        <ui:fragment rendered="#{statsReady}">
            <div class="row">
                <div class="col-xs-12" id="graphDiv">
                    <ui:include src="../WEB-INF/includes/c_inquiry_graphs.xhtml" />
                </div>
            </div>
        </ui:fragment>

        <!--In dktk, show results panel. Check for availability is done in the included facelet-->
        <ui:fragment rendered="#{wu:getProjectName() == 'dktk'}">
            <div class="row">
                <div class="col-xs-12" id="resultDiv">
                    <ui:include src="../WEB-INF/includes/c_inquiry_results.xhtml" />
                    <h:form>
                        <o:commandScript name="lazyLoadResult" autorun="true" actionListener="#{inquiryBean.loadResult}" render=":matchesForm"
                            onbegin="blockElement('#resultDiv .panel-body');" oncomplete="unblockElement('#resultDiv .panel-body'); initPagination();" />
                    </h:form>
                </div>
            </div>
        </ui:fragment>
    </ui:define>
</ui:composition>