<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:sscl="http://java.sun.com/jsf/composite/samply-share-client"
                xmlns:wu="http://share.samply.de/webutils"
>
    <ui:param name="adminPage" value="true" />

    <ui:define name="title">#{msg.bl_title}</ui:define>

    <ui:define name="additional-css">
        <h:outputStylesheet name="webjars/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" />
    </ui:define>

    <ui:define name="additional-js">
        <h:outputScript name="webjars/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js" />
    </ui:define>

    <ui:define name="optional-import-constants">
        <o:importConstants type="de.samply.share.client.model.db.enums.BrokerStatusType" />
    </ui:define>

    <ui:define name="main-content">
        <h:form id="brokerForm">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#{msg.bl_broker}</th>
                        <th>#{msg.common_email}</th>
                        <th>#{msg.bl_status}</th>
                        <th>#{msg.bl_lastCheck}</th>
                        <th>#{msg.common_delete}</th>
                    </tr>
                </thead>
                <tbody>
                <ui:repeat var="broker" value="#{brokerBean.brokerList}" >

                    <tr class="#{(broker.status == BrokerStatusType.BS_OK || broker.status == BrokerStatusType.BS_ACTIVATION_PENDING) ? '' : 'danger'}">
                        <td data-toggle="tooltip" data-placement="top" title="#{broker.address}">
                            <h:outputText value="#{broker.name}" styleClass="form-control-static" rendered="#{not empty broker.name}" />
                            <h:outputText value="#{broker.address}" styleClass="form-control-static" rendered="#{empty broker.name}"/>
                        </td>

                        <td>
                            <h:outputText value="#{brokerBean.getCredentials(broker).username}" styleClass="form-control-static" />
                        </td>

                        <ui:fragment rendered="#{broker.status != BrokerStatusType.BS_ACTIVATION_PENDING}">
                            <td><h:outputText value="#{msg[broker.status]}" styleClass="form-control-static" /></td>
                        </ui:fragment>
                        <ui:fragment rendered="#{broker.status == BrokerStatusType.BS_ACTIVATION_PENDING}">
                            <td>
                                <div class="input-group input-group-sm">
                                    <h:inputText styleClass="form-control" binding="#{activationCode}" size="8" />
                                    <span class="input-group-btn">
                                                <h:commandButton value="#{msg.bl_completeActivation}" styleClass="btn btn-default btn-sm" >
                                                    <f:ajax execute="@form" render="@form" listener="#{brokerBean.sendActivationCode(broker, activationCode.value)}" />
                                                </h:commandButton>
                                            </span>
                                </div>
                            </td>
                        </ui:fragment>

                        <td>
                            <h:outputText value="#{broker.lastChecked}" styleClass="form-control-static" />
                        </td>
                        <td>
                            <h:commandLink value=""
                                           styleClass="btn btn-default btn-sm" action="#{brokerBean.deleteBroker(broker)}">
                                <span class="fa fa-trash-o"></span>
                            </h:commandLink>
                        </td>
                    </tr>
                </ui:repeat>
                </tbody>
            </table>
        </h:form>

        <hr />

        <h2>#{msg.bl_joinNewBroker}</h2>
        <h:form id="newBrokerForm">
            <sscl:formEntryElement labelFor="newBrokerAddress" labelText="#{msg.bl_newAdress}" id="newBrokerAddressElement">
                <f:facet name="input">
                    <h:inputText styleClass="form-control" value="#{brokerBean.newBroker.address}"
                                 id="newBrokerAddress" size="60" required="true" requiredMessage="#{msg.bl_newAdressRequiredMsg}" />
                </f:facet>
            </sscl:formEntryElement>

            <sscl:formEntryElement labelFor="newBrokerEmail" labelText="#{msg.bl_newEmail}" id="newBrokerEmailElement">
                <f:facet name="input">
                    <h:inputText styleClass="form-control" value="#{brokerBean.newBrokerEmail}"
                                 id="newBrokerEmail" size="60" required="true" requiredMessage="#{msg.bl_emailRequiredMsg}" />
                </f:facet>
            </sscl:formEntryElement>

            <sscl:formEntryElement labelFor="newBrokerFullResult" labelText="#{msg.bl_requestFullResults}" id="newBrokerFullResultElement">
                <f:facet name="input">
                    <h:selectBooleanCheckbox styleClass="form-control switch" value="#{brokerBean.newBrokerFullResult}"
                                 id="newBrokerFullResult" />
                </f:facet>
            </sscl:formEntryElement>

            <sscl:formEntryElement labelFor="newBrokerReplyRule" labelText="#{msg.ih_autoReply}" id="newBrokerReplyRuleElement">
                <f:facet name="input">
                    <h:selectOneMenu value="#{brokerBean.newBrokerReplyRule}" styleClass="form-control"
                                     id="newBrokerReplyRule">
                        <f:selectItems value="#{applicationBean.replyRuleTypes}" var="replyRule" itemValue="#{replyRule}" itemLabel="#{msg[replyRule.literal]}" />
                    </h:selectOneMenu>
                </f:facet>
            </sscl:formEntryElement>

            <!--Store Button-->
            <h:panelGroup layout="block" styleClass="form-space" />

            <h:panelGroup layout="block" styleClass="form-group">
                <h:panelGroup layout="block" styleClass="col-sm-offset-2 col-sm-6">
                    <h:commandButton id="newBrokerJoin" value="#{msg.bl_joinBtn}" styleClass="btn btn-default btn-sm pull-right"
                                     action="#{brokerBean.join}" />
                </h:panelGroup>
            </h:panelGroup>

            <h:messages showDetail="true" showSummary="true" id="messages" globalOnly="true"/>
        </h:form>

    </ui:define>
</ui:composition>