<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->
<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:sscl="http://java.sun.com/jsf/composite/samply-share-client"
                xmlns:wu="http://share.samply.de/webutils"
>
    <ui:param name="adminPage" value="true" />

    <ui:define name="title">#{msg.configuration_title}</ui:define>

    <ui:define name="metadata">
        <f:metadata>
            <f:viewAction action="#{configurationBean.init}" onPostback="false"/>
            <!--<f:viewAction action="#{credentialsController.refreshCredentials}" onPostback="true"/>-->
        </f:metadata>
    </ui:define>

    <ui:define name="additional-css">
        <h:outputStylesheet name="webjars/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css" />
        <h:outputStylesheet name="webjars/clockpicker/0.0.7/dist/bootstrap-clockpicker.min.css" />
        <h:outputStylesheet name="webjars/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" />
    </ui:define>

    <ui:define name="additional-js">
        <h:outputScript name="webjars/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js" />
        <h:outputScript name="webjars/clockpicker/0.0.7/dist/bootstrap-clockpicker.min.js" />
        <h:outputScript name="webjars/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js" />
    </ui:define>

    <ui:define name="optional-import-constants">
        <o:importConstants type="de.samply.share.client.model.EnumConfiguration" />
        <o:importConstants type="de.samply.share.client.model.EnumConfigurationTimings" />
    </ui:define>

    <ui:define name="main-content">

        <h:form id="configurationForm" prependId="false">

            <ui:fragment rendered="#{wu:getProjectName() == 'dktk'}">
                <ui:include src="../WEB-INF/includes/c_configuration_centralMdsDb.xhtml" />
                <div class="form-space" />
            </ui:fragment>

            <ui:include src="../WEB-INF/includes/c_configuration_mdr.xhtml" />

            <div class="form-space" />

            <ui:include src="../WEB-INF/includes/c_configuration_interfaces.xhtml" />

            <div class="form-space" />

            <ui:include src="../WEB-INF/includes/c_configuration_monitoring.xhtml" />

            <div class="form-space" />

            <ui:include src="../WEB-INF/includes/c_configuration_proxy.xhtml" />

            <div class="form-space" />

            <ui:include src="../WEB-INF/includes/c_configuration_timings.xhtml" />

            <!-- Buttons -->
            <div class="form-space" />
            <hr />
            <h:messages id="messages" showSummary="true" showDetail="true" globalOnly="true" />

            <div class="row" style="margin-bottom: 50px;" >
                <div class="col-sm-12">
                    <h:commandButton styleClass="btn btn-md btn-primary pull-right" value="#{msg.common_save}"
                                     action="#{configurationBean.storeConfiguration}">
                        <f:ajax execute="@form" render="@form messages" onevent="bootstrapSwitchOn" />
                    </h:commandButton>
                </div>
            </div>
        </h:form>

        <ui:fragment rendered="#{wu:getProjectName() == 'dktk'}">
            <!--Put this outside the actual form because it contains a form itself-->
            <sscl:confirmUploadWithLocalConsentModal />
        </ui:fragment>
    </ui:define>

</ui:composition>