<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->
<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:sscl="http://java.sun.com/jsf/composite/samply-share-client"
>
    <ui:param name="adminPage" value="true" />

    <ui:define name="title">#{msg.cl_title}</ui:define>

    <ui:define name="metadata">
        <f:metadata>
            <f:viewAction action="#{credentialsBean.refreshCredentials}" onPostback="true"/>
        </f:metadata>
    </ui:define>

    <ui:define name="optional-import-constants">
        <o:importConstants type="de.samply.share.client.model.db.enums.TargetType" />
        <o:importConstants type="de.samply.share.client.model.db.enums.AuthSchemeType" />
    </ui:define>

    <ui:define name="main-content">
        <h:form id="credentialsForm">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#{msg.cl_targetType}</th>
                    <th>#{msg.cl_credentialType}</th>
                    <th>#{msg.common_username}</th>
                    <th>#{msg.common_password}</th>
                    <th>#{msg.cl_workstation}</th>
                    <th>#{msg.cl_domain}</th>
                    <th>#{msg.common_delete}</th>
                </tr>
                </thead>
                <tbody>
                <ui:repeat var="creds" value="#{credentialsBean.credentialsList}">
                    <tr>
                        <td>#{msg[creds.target]}</td>
                        <td>#{msg[creds.authScheme]}</td>
                        <td>#{creds.username}</td>
                        <td>**********</td>
                        <td>#{creds.workstation}</td>
                        <td>#{creds.domain}</td>
                        <td>
                            <h:commandLink value="" styleClass="btn btn-default btn-sm" action="#{credentialsBean.deleteCredentials(creds)}">
                                <span class="fa fa-trash-o"></span>
                            </h:commandLink>
                        </td>
                    </tr>
                </ui:repeat>
                </tbody>
            </table>
        </h:form>

        <hr />

        <h2>#{msg.cl_addCredentials}</h2>
        <h:form id="newCredentialsForm" prependId="false">

            <sscl:formEntryElement labelFor="newCredentialsTarget" labelText="#{msg.cl_targetType}" id="newCredentialsTargetElement">
                <f:facet name="input">
                    <h:selectOneMenu value="#{credentialsBean.newTargetType}" styleClass="form-control" id="newCredentialsTarget">
                        <f:selectItems value="#{credentialsBean.targetTypes}" var="targetType"
                                       itemLabel="#{msg[targetType.literal]}" itemValue="#{targetType}"/>
                        <f:ajax event="valueChange" execute="@this" render=":newAuthSchemeTypeElement:newAuthSchemeType" />
                    </h:selectOneMenu>
                </f:facet>
            </sscl:formEntryElement>

            <sscl:formEntryElement labelFor="newAuthSchemeType" labelText="#{msg.cl_credentialType}" id="newAuthSchemeTypeElement">
                <f:facet name="input">
                    <h:selectOneMenu value="#{credentialsBean.newAuthSchemeType}" styleClass="form-control" id="newAuthSchemeType"
                                     disabled="#{credentialsBean.newTargetType == TargetType.TT_LDM or credentialsBean.newTargetType == TargetType.TT_CENTRALSEARCH or credentialsBean.newTargetType == TargetType.TT_BROKER}">
                        <f:selectItems value="#{credentialsBean.getAuthSchemeTypes(credentialsBean.newTargetType)}" var="credsType" itemLabel="#{msg[credsType.literal]}" itemValue="#{credsType}" />
                        <f:ajax event="valueChange" execute="@this" render=":newCredentialsDomainElement:newCredentialsDomain :newCredentialsWorkstationElement:newCredentialsWorkstation" />
                    </h:selectOneMenu>
                </f:facet>
            </sscl:formEntryElement>

            <sscl:formEntryElement labelFor="newCredentialsUsername" labelText="#{msg.common_username}" id="newCredentialsUsernameElement">
                <f:facet name="input">
                    <h:inputText styleClass="form-control" value="#{credentialsBean.newUsername}"
                                 id="newCredentialsUsername" size="60" required="true" requiredMessage="#{msg.cl_newUserNameRequiredMsg}" pass:autocomplete="off"/>
                </f:facet>
            </sscl:formEntryElement>

            <sscl:formEntryElement labelFor="newCredentialsPassword" labelText="#{msg.common_password}" id="newCredentialsPasswordElement">
                <f:facet name="input">
                    <h:inputSecret styleClass="form-control" value="#{credentialsBean.newPassword}"
                                   id="newCredentialsPassword" size="60" required="true" requiredMessage="#{msg.cl_newPasswordRequiredMsg}" pass:autocomplete="off"/>
                </f:facet>
            </sscl:formEntryElement>

            <sscl:formEntryElement labelFor="newCredentialsWorkstation" labelText="#{msg.cl_workstation}" id="newCredentialsWorkstationElement">
                <f:facet name="input">
                    <h:inputText styleClass="form-control"
                                 value="#{credentialsBean.newWorkstation}" id="newCredentialsWorkstation" size="60"
                                 disabled="#{credentialsBean.newAuthSchemeType != AuthSchemeType.AS_NTLM}"/>
                </f:facet>
            </sscl:formEntryElement>

            <sscl:formEntryElement labelFor="newCredentialsDomain" labelText="#{msg.cl_domain}" id="newCredentialsDomainElement">
                <f:facet name="input">
                    <h:inputText styleClass="form-control"
                                 value="#{credentialsBean.newDomain}"
                                 id="newCredentialsDomain" size="60"
                                 disabled="#{credentialsBean.newAuthSchemeType != AuthSchemeType.AS_NTLM}"/>
                </f:facet>
            </sscl:formEntryElement>

            <h:panelGroup layout="block" styleClass="form-group">
                <h:panelGroup layout="block" styleClass="col-sm-offset-2 col-sm-6">
                    <h:commandButton id="addCredentials" value="#{msg.cl_addCredentials}" styleClass="btn btn-default btn-sm"
                                     actionListener="#{credentialsBean.addCredentials}">
                        <f:ajax execute="@form" render="@form credentialsForm" />
                    </h:commandButton>
                </h:panelGroup>
            </h:panelGroup>

            <h:messages showDetail="true" showSummary="true" id="messages" />
        </h:form>
    </ui:define>

</ui:composition>