<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->
<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:wu="http://share.samply.de/webutils"
                xmlns:sscl="http://java.sun.com/jsf/composite/samply-share-client">

    <ui:define name="title">#{msg.dashboard_title}</ui:define>

    <ui:define name="main-content">
        <h:form>
            <div class="row">
                <!--Configuration-->
                <sscl:dashboardPanel title="#{msg.dashboard_configuration}"
                                     details="#{msg.dashboard_configurationDetails}"
                                     action="configuration?faces-redirect=true" iconClass="fa-gears"/>

                <!--User List-->
                <sscl:dashboardPanel title="#{msg.dashboard_userList}"
                                     details="#{msg.dashboard_userListDetails}"
                                     action="user_list?faces-redirect=true" iconClass="fa-users"/>

                <div class="clearfix visible-sm-block" />

                <!--Broker List-->
                <sscl:dashboardPanel title="#{msg.dashboard_brokerList}"
                                     details="#{wu:getBrokerCount()} #{msg.dashboard_brokerListDetails}"
                                     action="broker_list?faces-redirect=true" iconClass="fa-sitemap"/>

                <div class="clearfix visible-md-block visible-lg-block" />

                <!--Scheduled Tasks-->
                <sscl:dashboardPanel title="#{msg.dashboard_schedule}"
                                     details="#{msg.dashboard_scheduleDetails}"
                                     action="job_list?faces-redirect=true" iconClass="fa-tasks"/>

                <div class="clearfix visible-sm-block" />

                <!--Credentials-->
                <sscl:dashboardPanel title="#{msg.dashboard_credentials}"
                                     details="#{msg.dashboard_credentialsDetails}"
                                     action="credentials_list?faces-redirect=true" iconClass="fa-key"/>
                <!--Reply Rules-->
                <sscl:dashboardPanel title="#{msg.dashboard_inquiryHandling}"
                                     details="#{msg.dashboard_inquiryHandlingDetails}"
                                     action="inquiry_handling?faces-redirect=true" iconClass="fa-reply-all"/>

                <div class="clearfix visible-sm-block visible-md-block visible-lg-block" />

                <!--Quality Report-->
                <sscl:dashboardPanel title="#{msg.dashboard_qualityReport}"
                                     details="#{msg.dashboard_qualityReportDetails}"
                                     action="qualityreport_list?faces-redirect=true" iconClass="fa-file-excel-o"/>
                <!--Event Log-->
                <sscl:dashboardPanel title="#{msg.dashboard_eventLog}"
                                     details="#{msg.dashboard_eventLogDetails}"
                                     action="event_log?faces-redirect=true" iconClass="fa-terminal"/>

                <div class="clearfix visible-sm-block" />

                <!--Uploads-->
                <sscl:dashboardPanel title="#{msg.dashboard_uploads}"
                                     details="#{msg.dashboard_uploadsDetails}"
                                     action="upload_list?faces-redirect=true" iconClass="fa-upload"/>

                <div class="clearfix visible-md-block visible-lg-block" />

                <!-- Tests -->
                <sscl:dashboardPanel title="#{msg.dashboard_tests}"
                                     details="#{msg.dashboard_testsDetails}"
                                     action="tests?faces-redirect=true" iconClass="fa-plug"/>
            </div>
        </h:form>
    </ui:define>
</ui:composition>