<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:ssc="http://java.sun.com/jsf/composite/samply-share-common"
                xmlns:sscl="http://java.sun.com/jsf/composite/samply-share-client"
                xmlns:wu="http://share.samply.de/webutils"
>
    <ui:param name="adminPage" value="true" />

    <ui:define name="title">
        <h:outputText value="Upload #{uploadBean.selectedUpload.triggeredAt}"/>
    </ui:define>

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="uploadId" value="#{uploadBean.selectedUploadId}" />
            <f:viewAction action="#{uploadBean.loadSelectedUpload}" onPostback="false"/>
        </f:metadata>
    </ui:define>

    <ui:define name="additional-js">
        <!--<h:outputScript library="js" name="pages/show_upload.js" target="body" />-->
    </ui:define>

    <ui:define name="optional-import-constants">
        <o:importConstants type="de.samply.share.client.model.db.enums.UploadStatusType" />
    </ui:define>

    <ui:define name="main-content">

        <!--Use a 2 column row (for larger displays only) for additional infos-->
        <div class="row">
            <!--Left side-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div id="infoDiv" class="row">
                    <div class="col-xs-12">
                        <h:form>
                            <ui:include src="../WEB-INF/includes/c_upload_info.xhtml"/>
                        </h:form>
                    </div>
                </div>
            </div>

            <!--Right side-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div id="eventsDiv" class="row">
                    <div class="col-xs-12">
                        <h:form>
                            <ui:include src="../WEB-INF/includes/c_upload_events.xhtml" />
                        </h:form>
                    </div>
                </div>
            </div>

        </div>

        <div style="margin-bottom: 10px;" />
        <h:form>
            <h:messages showDetail="true" showSummary="true" id="messages" globalOnly="true"/>
        </h:form>
    </ui:define>

    <ssc:pleaseWaitModal />
</ui:composition>