<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:ssc="http://xmlns.jcp.org/jsf/composite/samply-share-common"
      xmlns:sscl="http://xmlns.jcp.org/jsf/composite/samply-share-client">

    <h:head>
        <title>
            <h:outputText value="#{applicationBean.getDisplayName()} - "/>
            <ui:insert name="title">
                    <h:outputText value="??? MISSING PAGE TITLE ???" />
            </ui:insert>
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <h:outputStylesheet name="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
        <h:outputStylesheet name="webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css" />
        <h:outputStylesheet name="webjars/font-awesome/4.7.0/css/font-awesome.min.css" />
        <h:outputStylesheet name="webjars/lato/0.3.0/css/lato.min.css" />
        <h:outputStylesheet name="css/samply-share.css" />

        <ui:insert name="additional-css" />

        <h:outputScript target="body">
            maxInitValues( #{session.lastAccessedTime}, #{session.maxInactiveInterval} - 30, '#{msg.session_timeout_one}',
            '#{msg.session_timeout_two}', '#{msg.session_timeout_two_min}', '#{msg.session_timeout_one_under}');
        </h:outputScript>

        <h:outputScript name="webjars/jquery/1.12.4/jquery.min.js" />
        <h:outputScript name="webjars/jquery-ui/1.12.1/jquery-ui.min.js" />
        <h:outputScript name="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js" />
        <h:outputScript name="js/samply-share.js" />

        <o:conditionalComment if="lt IE 9">
            <h:outputScript name="webjars/html5shiv/3.7.3/html5shiv.min.js" />
            <h:outputScript name="webjars/respond/1.4.2/dest/respond.min.js" />
        </o:conditionalComment>

        <ui:insert name="additional-js" />
        <ui:insert name="optional-import-constants" />

    </h:head>
    <h:body class="background">
        <f:view>
            <ui:insert name="metadata" />

            <div class="page-wrapper #{pageWrapperAdditionalClass}">
                <sscl:menu activePage="#{view.viewId}" />
                <ui:fragment rendered="#{adminPage and not fn:containsIgnoreCase(view.viewId, 'dashboard')}" >
                    <sscl:sideNav admin="true" />
                </ui:fragment>
                <ui:fragment rendered="#{not adminPage and not fn:containsIgnoreCase(view.viewId, 'dashboard')}" >
                    <sscl:sideNav admin="false" />
                </ui:fragment>

                <div class="container content-container theme-showcase">
                    <div class="page-header">
                        <h1>
                            <ui:insert name="title" />
                        </h1>
                        <ui:insert name="subtitle" />
                    </div>

                    <ui:insert name="main-content" />
                </div>
            </div>

            <ssc:sessionTimeoutModal />
        </f:view>
    </h:body>
</html>
