<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sscl="http://xmlns.jcp.org/jsf/composite/samply-share-client">

    <fieldset class="configurationGroup">
        <legend class="scheduler-border">#{msg.configuration_monitoring}</legend>
        
        <sscl:formEntryElement labelText="#{msg.configuration_sendTotalCount}" labelFor="sendTotalCount">
            <f:facet name="input">
                <h:selectBooleanCheckbox id="sendTotalCount"
                                         styleClass="form-control switch"
                                         value="#{configurationBean.configurationMap[EnumConfiguration.MONITORING_REPORT_COUNT_TOTAL]}" />
            </f:facet>
        </sscl:formEntryElement>

        <sscl:formEntryElement labelText="#{msg.configuration_sendDktkCount}" labelFor="sendDktkCount">
            <f:facet name="input">
                <h:selectBooleanCheckbox id="sendDktkCount"
                                         styleClass="form-control switch"
                                         value="#{configurationBean.configurationMap[EnumConfiguration.MONITORING_REPORT_COUNT_DKTKFLAG]}" />
            </f:facet>
        </sscl:formEntryElement>

        <sscl:formEntryElement labelText="#{msg.configuration_sendReferenceQueryCount}" labelFor="sendReferenceQueryCount">
            <f:facet name="input">
                <h:selectBooleanCheckbox id="sendReferenceQueryCount"
                                         styleClass="form-control switch"
                                         value="#{configurationBean.configurationMap[EnumConfiguration.MONITORING_REPORT_COUNT_REFERENCEQUERY]}" />
            </f:facet>
        </sscl:formEntryElement>

        <sscl:formEntryElement labelText="#{msg.configuration_sendReferenceQueryTime}" labelFor="sendReferenceQueryTime">
            <f:facet name="input">
                <h:selectBooleanCheckbox id="sendReferenceQueryTime"
                                         styleClass="form-control switch"
                                         value="#{configurationBean.configurationMap[EnumConfiguration.MONITORING_REPORT_TIME_REFERENCEQUERY]}" />
            </f:facet>
        </sscl:formEntryElement>

        <sscl:formEntryElement labelText="#{msg.configuration_sendCentraxxMappingVersion}" labelFor="sendCentraxxMappingVersion">
            <f:facet name="input">
                <h:selectBooleanCheckbox id="sendCentraxxMappingVersion"
                                         styleClass="form-control switch"
                                         value="#{configurationBean.configurationMap[EnumConfiguration.MONITORING_REPORT_CENTRAXX_MAPPING_INFORMATION]}" />
            </f:facet>
        </sscl:formEntryElement>


    </fieldset>

</ui:composition>