<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:sscl="http://xmlns.jcp.org/jsf/composite/samply-share-client">

    <fieldset class="configurationGroup">
        <legend class="scheduler-border">#{msg.configuration_centralSearch}</legend>

        <sscl:formEntryElement labelFor="centralMdsDbBaseUrl" labelText="#{msg.configuration_centralSearchBaseUrl}" dbTooltip="true">
            <f:facet name="input">
                <h:inputText id="centralMdsDbBaseUrl"
                             size="50"
                             value="#{configurationBean.configurationMap[EnumConfiguration.CENTRAL_MDS_DATABASE_BASE_URL]}"
                             styleClass="form-control"
                             pass:disabled="disabled" >
                </h:inputText>
            </f:facet>
        </sscl:formEntryElement>

        <sscl:formEntryElement labelFor="centralMdsDbPath" labelText="#{msg.configuration_centralSearchPath}">
            <f:facet name="input">
                <h:inputText id="centralMdsDbPath"
                             size="50"
                             value="#{configurationBean.configurationMap[EnumConfiguration.CENTRAL_MDS_DATABASE_PATH]}"
                             styleClass="form-control"
                             pass:placeholder="e.g. /dktk/sites/standort/teiler/ttlrst1/">
                </h:inputText>
            </f:facet>
        </sscl:formEntryElement>
        
        <sscl:formEntryElement labelText="#{msg.configuration_manageCredentials}" labelFor="credentialsLink1">
            <f:facet name="input">
                <h:outputLink value="credentials_list.xhtml" id="credentialsLink1">#{msg.configuration_manageCredentialsLink}</h:outputLink>
            </f:facet>
        </sscl:formEntryElement>

        <ui:fragment rendered="#{configurationBean.configurationMap[EnumConfiguration.CENTRAL_MDS_DATABASE_SHOW_UPLOAD_PATIENTS_WITH_LOCAL_CONSENT] == 'true'}">
            <sscl:formEntryElement labelFor="uploadPatientsWithLocalConsent" labelText="#{msg.configuration_uploadPatientsWithLocalConsent}">
                <f:facet name="input">
                    <h:selectBooleanCheckbox id="uploadPatientsWithLocalConsent"
                                             value="#{configurationBean.configurationMap[EnumConfiguration.CENTRAL_MDS_DATABASE_UPLOAD_PATIENTS_WITH_LOCAL_CONSENT]}"
                                             styleClass="switch"
                                             onchange="if (this.checked) { $('#confirmUploadWithLocalConsent').modal(); }"/>
                </f:facet>
            </sscl:formEntryElement>
        </ui:fragment>
    </fieldset>

</ui:composition>