<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:sscl="http://xmlns.jcp.org/jsf/composite/samply-share-client">

    <fieldset class="configurationGroup">
        <legend class="scheduler-border">#{msg.configuration_mdr}</legend>

        <sscl:formEntryElement labelFor="mdrURL" labelText="#{msg.configuration_mdrUrl}" dbTooltip="true">
            <f:facet name="input">
                <h:inputText id="mdrURL" size="50" value="#{configurationBean.configurationMap[EnumConfiguration.MDR_URL]}" styleClass="form-control" pass:disabled="disabled"/>
            </f:facet>
        </sscl:formEntryElement>

        <sscl:formEntryElement labelFor="mdsk" labelText="#{msg.configuration_mdrMdskGroup}" dbTooltip="true">
            <f:facet name="input">
                <h:inputText id="mdsk" size="50" value="#{configurationBean.configurationMap[EnumConfiguration.MDR_GRP_MDSK]}" styleClass="form-control" pass:disabled="disabled"/>
            </f:facet>
        </sscl:formEntryElement>

        <sscl:formEntryElement labelFor="mdsb" labelText="#{msg.configuration_mdrMdsbGroup}" dbTooltip="true">
            <f:facet name="input">
                <h:inputText id="mdsb" size="50" value="#{configurationBean.configurationMap[EnumConfiguration.MDR_GRP_MDSB]}" styleClass="form-control" pass:disabled="disabled"/>
            </f:facet>
        </sscl:formEntryElement>
    </fieldset>

</ui:composition>