<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:sscl="http://xmlns.jcp.org/jsf/composite/samply-share-client">

    <fieldset class="configurationGroup">
        <legend class="scheduler-border">#{msg.configuration_interfaces}</legend>

        <sscl:formEntryElement labelFor="ldmUrl" labelText="#{msg.configuration_ldmUrl}" xmlTooltip="true">
            <f:facet name="input">
                <h:inputText id="ldmUrl" size="50" value="#{configurationBean.configurationMap[EnumConfiguration.LDM_URL]}" styleClass="form-control" pass:disabled="disabled"/>
            </f:facet>
        </sscl:formEntryElement>

        <sscl:formEntryElement labelFor="ldmCachingEnabled" labelText="#{msg.configuration_ldmEnableCaching}">
            <f:facet name="input">
                <h:selectBooleanCheckbox id="ldmCachingEnabled"
                                         value="#{configurationBean.configurationMap[EnumConfiguration.LDM_CACHING_ENABLED]}"
                                         styleClass="switch"/>
            </f:facet>
        </sscl:formEntryElement>

        <sscl:formEntryElement labelFor="ldmCachingMaxSize" labelText="#{msg.configuration_ldmCachingMaxSize}">
            <f:facet name="input">
                <h:inputText id="ldmCachingMaxSize" value="#{configurationBean.configurationMap[EnumConfiguration.LDM_CACHING_MAX_SIZE]}"
                style="text-align: right" validatorMessage="#{msg.configuration_ldmCachingMaxSizeValidationError}">
                    <f:validateLongRange minimum="1" maximum="5000" />
                </h:inputText>
            </f:facet>
        </sscl:formEntryElement>

        <sscl:formEntryElement labelFor="idmUrl" labelText="#{msg.configuration_idManagerUrl}" xmlTooltip="true">
            <f:facet name="input">
                <h:inputText id="idmUrl" size="50" value="#{configurationBean.configurationMap[EnumConfiguration.ID_MANAGER_URL]}" styleClass="form-control" pass:disabled="disabled"/>
            </f:facet>
        </sscl:formEntryElement>
    </fieldset>

</ui:composition>