<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sscl="http://xmlns.jcp.org/jsf/composite/samply-share-client">

    <fieldset class="configurationGroup">
        <legend class="scheduler-border">#{msg.configurationTimings}</legend>

        <sscl:formEntryElement labelFor="collectInquiriesInterval" labelText="#{msg.configurationTimings_collectInquiriesInterval}"
                               labelClasses="col-sm-6 col-md-4" inputClasses="col-sm-6 col-md-8">
            <f:facet name="input">
                <div class="input-group">
                    <h:inputText id="collectInquiriesInterval" styleClass="form-control" required="true"
                                 value="#{configurationBean.configurationTimingsMap[EnumConfigurationTimings.JOB_COLLECT_INQUIRIES_INTERVAL_SECONDS]}">
                        <f:validator validatorId="positiveIntegerValidator" labelFor="collectInquiriesInterval" />
                    </h:inputText>
                    <div class="input-group-addon">
                        #{msg.configuration_seconds}
                    </div>
                </div>
            </f:facet>
        </sscl:formEntryElement>

        <sscl:formEntryElement labelFor="checkInquiryStatusInitialDelay" labelText="#{msg.configurationTimings_checkInquiryStatusInitialDelay}"
                                labelClasses="col-sm-6 col-md-4" inputClasses="col-sm-6 col-md-8">
            <f:facet name="input">
                <div class="input-group">
                    <h:inputText id="checkInquiryStatusInitialDelay" styleClass="form-control"
                                 value="#{configurationBean.configurationTimingsMap[EnumConfigurationTimings.JOB_CHECK_INQUIRY_STATUS_INITIAL_DELAY_SECONDS]}">
                        <f:validator validatorId="positiveIntegerValidator" />
                    </h:inputText>
                    <div class="input-group-addon">
                        #{msg.configuration_seconds}
                    </div>
                </div>
            </f:facet>
        </sscl:formEntryElement>

        <sscl:formEntryElement labelFor="checkInquiryStatsInterval" labelText="#{msg.configurationTimings_checkInquiryStatusStatsRetryInterval}"
                               labelClasses="col-sm-6 col-md-4" inputClasses="col-sm-6 col-md-8">
            <f:facet name="input">
                <div class="input-group">
                    <h:inputText id="checkInquiryStatsInterval" styleClass="form-control"
                                 value="#{configurationBean.configurationTimingsMap[EnumConfigurationTimings.JOB_CHECK_INQUIRY_STATUS_STATS_RETRY_INTERVAL_SECONDS]}">
                        <f:validator validatorId="positiveIntegerValidator" />
                    </h:inputText>
                    <div class="input-group-addon">
                        #{msg.configuration_seconds}
                    </div>
                </div>
            </f:facet>
        </sscl:formEntryElement>

        <sscl:formEntryElement labelFor="checkInquiryStatsAttempts" labelText="#{msg.configurationTimings_checkInquiryStatusStatsRetryAttempts}"
                               labelClasses="col-sm-6 col-md-4" inputClasses="col-sm-6 col-md-8">
            <f:facet name="input">
                    <h:inputText id="checkInquiryStatsAttempts" styleClass="form-control"
                                 value="#{configurationBean.configurationTimingsMap[EnumConfigurationTimings.JOB_CHECK_INQUIRY_STATUS_STATS_RETRY_ATTEMPTS]}">
                        <f:validator validatorId="positiveIntegerValidator" />
                    </h:inputText>
            </f:facet>
        </sscl:formEntryElement>

        <sscl:formEntryElement labelFor="checkInquiryResultsInterval" labelText="#{msg.configurationTimings_checkInquiryStatusResultsRetryInterval}"
                               labelClasses="col-sm-6 col-md-4" inputClasses="col-sm-6 col-md-8">
            <f:facet name="input">
                <div class="input-group">
                    <h:inputText id="checkInquiryResultsInterval" styleClass="form-control"
                                 value="#{configurationBean.configurationTimingsMap[EnumConfigurationTimings.JOB_CHECK_INQUIRY_STATUS_RESULTS_RETRY_INTERVAL_SECONDS]}">
                        <f:validator validatorId="positiveIntegerValidator" />
                    </h:inputText>
                    <div class="input-group-addon">
                        #{msg.configuration_seconds}
                    </div>
                </div>
            </f:facet>
        </sscl:formEntryElement>

        <sscl:formEntryElement labelFor="checkInquiryResultsAttempts" labelText="#{msg.configurationTimings_checkInquiryStatusResultsRetryAttempts}"
                               labelClasses="col-sm-6 col-md-4" inputClasses="col-sm-6 col-md-8">
            <f:facet name="input">
                <h:inputText id="checkInquiryResultsAttempts" styleClass="form-control" converterMessage="Please enter digits only."
                             value="#{configurationBean.configurationTimingsMap[EnumConfigurationTimings.JOB_CHECK_INQUIRY_STATUS_RESULTS_RETRY_ATTEMPTS]}">
                    <f:validator validatorId="positiveIntegerValidator" />
                </h:inputText>
            </f:facet>
        </sscl:formEntryElement>

        <sscl:formEntryElement labelFor="archiveInquiriesAfter" labelText="#{msg.configurationTimings_archiveInquiries}"
                               labelClasses="col-sm-6 col-md-4" inputClasses="col-sm-6 col-md-8">
            <f:facet name="input">
                <div class="input-group">
                    <h:inputText id="archiveInquiriesAfter" styleClass="form-control" converterMessage="Please enter digits only."
                                 value="#{configurationBean.configurationTimingsMap[EnumConfigurationTimings.JOB_MOVE_INQUIRIES_TO_ARCHIVE_AFTER_DAYS]}">
                        <f:validator validatorId="positiveIntegerValidator" />
                    </h:inputText>
                    <div class="input-group-addon">
                        #{msg.configuration_days}
                    </div>
                </div>
            </f:facet>
        </sscl:formEntryElement>

    </fieldset>

</ui:composition>
