<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:wu="http://share.samply.de/webutils"
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:sscl="http://xmlns.jcp.org/jsf/composite/samply-share-client">


    <sscl:bootstrapPanel collapsible="true" collapsibleStartExpanded="false" id="documentsPanel">
        <f:facet name="headerContent">
            <div class="panel-heading">
                <h:form  id="documentsHeader" prependId="false">
                    <h3 class="panel-title">#{msg.si_documents} <span class="badge" style="background-color: #989898;">#{fn:length(inquiryBean.documents)}</span>
                        <button type="button" class="close collapseToggle" aria-label="Close" >
                            <i class="fa fa-chevron-right" />
                        </button>
                    </h3>
                </h:form>
            </div>
        </f:facet>

        <f:facet name="bodyContent">
            <h:form prependId="false" id="documentListForm" styleClass="documentListForm" >
                <div class="row" style="font-weight: bold; text-align: left; margin-bottom: 5px;">
                    <div class="col-xs-8">
                        <h:outputText value="#{msg.si_document}" />
                    </div>
                    <div class="col-xs-4">
                        <div class="row" style="float: right; margin-right:0;">
                            <h:outputText value="#{msg.si_actions}" />
                        </div>
                    </div>
                </div>
                <ui:fragment rendered="#{empty inquiryBean.documents}">
                    <div class="row">
                        <div class="col-xs-12">
                            <h:outputText value="#{msg.si_noDocuments}" />
                        </div>
                    </div>
                </ui:fragment>
                <ui:repeat var="document" value="#{inquiryBean.documents}" varStatus="status">
                    <ui:param name="readOnly" value="#{document.userId != loginBean.user.id}" />

                    <div class="row" style="#{status.odd ? 'background-color: #F3F3F3; margin: 0 0 2px 0;' : 'margin: 0 0 2px 0;'}" >
                        <div class="col-xs-8" style="padding-left: 0;">
                            <h:commandLink value="#{document.filename}" id="dl_document" type="submit" action="#{inquiryBean.exportDocument(document.id)}" />
                        </div>
                        <div class="col-xs-4">
                            <div class="row" style="float: right;">
                                <div class="idDiv" style="display: none;">
                                    <h:inputHidden value="#{document.id}" />
                                </div>
                                <h:commandLink value="" class="deleteDocument hasConfirmPopover btn btn-default btn-xs" title="#{msg.common_delete}" rendered="#{!readOnly}">
                                    <i class="fa fa-fw fa-trash-o"></i>
                                    <f:ajax />
                                </h:commandLink>
                                <o:commandScript name="deleteDocument" render="@form :documentsPanel:documentListForm :documentsPanel:documentsHeader"
                                                 execute="@form" actionListener="#{inquiryBean.deleteDocument()}" />
                                <h:commandLink value="" class="infoDocument hasPopover btn btn-default btn-xs" title="Zusätzliche Infos" style="margin-left: 2px;"
                                               pass:data-content="#{msg.si_uploadedAt} #{wu:dateToGermanFormatString(document.uploadedAt)} von #{wu:getUsernameById(document.userId)}">
                                    <i class="fa fa-fw fa-info-circle"></i>
                                    <f:ajax />
                                </h:commandLink>
                            </div>
                        </div>
                    </div>
                </ui:repeat>
            </h:form>

            <hr style="margin: 10px 0;"/>

            <h:form role="form" enctype="multipart/form-data" prependId="false" id="documentBoxForm" styleClass="documentBoxForm">
                <label class="control-label">#{msg.common_selectFile}</label>
                <h:inputFile id="documentUpload" styleClass="documentUploadFileInput" value="#{inquiryBean.newDocument}" style="width:100%" required="true" pass:data-show-caption="true" pass:data-show-preview="false" />
                <h:message id="document_message" for="documentUpload" style="color:red" />
                <h:commandButton type="button" class="uploadTheFile" style="display:none;">
                    <f:ajax listener="#{inquiryBean.handleDocumentUpload}" render="document_message :documentsPanel:documentListForm :documentsPanel:documentsHeader" execute="@form" />
                </h:commandButton>
            </h:form>

        </f:facet>
    </sscl:bootstrapPanel>
</ui:composition>