<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:wu="http://share.samply.de/webutils"
                xmlns:sscl="http://xmlns.jcp.org/jsf/composite/samply-share-client">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 style="font-weight: bold;">Willkommen <small>auf Ihrem DKTK Brückenkopf</small></h1>
        </div>
        <div class="panel-body">
            <p>Sie befinden sich auf der Einstiegsseite des Brückenkopfes am Standort <i>#{applicationBean.infos.name}</i>.
                Der Brückenkopf dient dazu, die Daten eines Standorts in ein DKTK-kompatibles Format zu überführen und
                für die anderen Komponenten nutzbar zu machen. Er ist zwar Software des DKTK, wird jedoch unter lokaler
                – also der in <i>#{applicationBean.infos.name}</i> – Hoheit betrieben. Weitere Informationen zum Brückenkopfkonzept
                finden Sie in den Konzepten der DKTK-Arbeitsgruppe CCP-IT, die Sie unter
                <h:outputLink value="https://ccp-it.dktk.dkfz.de/" target="_blank">https://ccp-it.dktk.dkfz.de/</h:outputLink>
                frei herunterladen können.</p>
            <p>Diese Seite zeigt, aus welchen Softwarekomponenten Ihr Brückenkopf besteht. Mit einem Linksklick auf
                einen Eintrag werden Sie zur entsprechenden Komponente weitergeleitet.
                Außerdem können Sie Erreichbarkeit und Version jeder Komponente einsehen.</p>

            <p>Bei Fragen wenden Sie sich an Ihren lokalen Brückenkopf-Administrator:
                <blockquote>
                    <strong>#{applicationBean.operator.firstName}
                        #{applicationBean.operator.lastName}</strong>
                    <ui:fragment rendered="#{not empty applicationBean.operator.email}">
                        <br />
                        <h:outputLink value="mailto:#{applicationBean.operator.email}">
                            <f:param name="subject" value="DKTK Brückenkopf" />
                            <h:outputText value="#{applicationBean.operator.email}" />
                        </h:outputLink>
                    </ui:fragment>
                    <ui:fragment rendered="#{not empty applicationBean.operator.phone}">
                        <br />
                        <h:outputText value="#{applicationBean.operator.phone}" />
                    </ui:fragment>
                </blockquote>
            </p>
        </div>
    </div>
</ui:composition>