<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sscl="http://xmlns.jcp.org/jsf/composite/samply-share-client">

    <sscl:bootstrapPanel contextClass="panel-info" collapsible="true" collapsibleStartExpanded="true" headingAsTitle="true" headingText="#{msg.si_description}">

        <f:facet name="bodyContent">
            <div class="row">
                <div class="col-xs-12">
                    <h:outputText value="#{inquiryBean.inquiry.description}" rendered="#{not empty inquiryBean.inquiry.description}" />
                    <h:outputText value="#{msg.si_noDescription}" rendered="#{empty inquiryBean.inquiry.description}" />
                </div>
            </div>

            <ui:fragment rendered="#{not empty inquiryBean.latestInquiryDetails.exposeLocation}">
                <hr style="margin: 5px;" />
                <div class="row">
                    <div class="col-xs-12">
                        <h:outputLink value="#{inquiryBean.latestInquiryDetails.exposeLocation}" target="_new">
                            <i class="fa fa-file-pdf-o" style="margin-right: 5px;" />
                            <span>
                                <h:outputText value="#{msg.si_downloadExpose}" />
                            </span>
                        </h:outputLink>
                    </div>
                </div>
            </ui:fragment>
        </f:facet>
    </sscl:bootstrapPanel>
</ui:composition>