<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:wu="http://share.samply.de/webutils"
                xmlns:sscl="http://xmlns.jcp.org/jsf/composite/samply-share-client">

    <h:outputLink value="#{applicationBean.infos.centralsearch}" target="_blank">
        <sscl:welcomePanel title="#{msg.configuration_centralSearch}"
                                 details="Ein zentrales Biobank - und Patientenregister"
                                 cssClass="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                 iconClass="fa-database"/>
    </h:outputLink>

    <h:outputLink value="#{applicationBean.infos.decentralsearch}" target="_blank">
        <sscl:welcomePanel title="Dezentrale Suche"
                           details="Erstellen von standortübergreifenden Anfragen"
                           cssClass="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                           iconClass="fa-sitemap"/>
    </h:outputLink>

</ui:composition>