<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:composite="http://java.sun.com/jsf/composite" xmlns:o="http://omnifaces.org/ui">

<composite:interface>
</composite:interface>

<composite:implementation>
    <div>
        <h:outputScript>
        function checkPw() {
            var p1 = $('.newPass').val();
            var p2 = $('.newPassRepeat').val();
            console.log('p1: ' + p1 + ' - p2: ' + p2);
            return (p1 == p2);
        }
        </h:outputScript>
        <div class="modal fade" id="changeUserPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <h:form prependId="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">#{msg.common_changePassword}</h4>
                        </div>
                        <div class="modal-body">

                            <div class="container-fluid">
                                <div class="form-group">
                                    <label for="newPass" class="col-sm-3 control-label">Neues Passwort</label>
                                    <div class="col-sm-9">
                                        <h:inputSecret id="newPass" name="newPass" value="#{userController.newPass}" styleClass="form-control newPass" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="newPassRepeat" class="col-sm-3 control-label">Neues Passwort wiederholen</label>
                                    <div class="col-sm-9">
                                        <h:inputSecret id="newPassRepeat" name="newPassRepeat" value="#{userController.newPassRepeat}"
                                            styleClass="form-control newPassRepeat" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <h:messages id="messagesPass" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <h:inputHidden value="#{userController.newUsername}"/>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <!--                             <button type="button" class="btn btn-success" data-dismiss="modal" onclick="checkPw()">Ok</button> -->
                            <h:commandLink styleClass="btn btn-success" value="" id="changePassword" onclick="checkPw()">
                                <f:ajax listener="#{userController.changeUserPassword}" execute="@form" render="@form" />
                                <i class="fa fa-save fa-fw" /> Passwort ändern
                                        </h:commandLink>
                        </div>
                    </div>
                </div>
            </h:form>
        </div>
    </div>
</composite:implementation>

</html>