<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
    </cc:interface>

    <cc:implementation>
        <div>
            <h:outputScript>
                function checkPw() {
                    var p1 = $('.newPass').val();
                    var p2 = $('.newPassRepeat').val();
                    return (p1 == p2);
                }
            </h:outputScript>
            <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <h:form prependId="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">#{msg.common_changePassword}</h4>
                            </div>
                            <div class="modal-body">

                                <div class="container-fluid">
                                    <div class="form-group">
                                        <label for="currentPass" class="col-sm-3 control-label">Altes Passwort</label>
                                        <div class="col-sm-9">
                                            <h:inputSecret id="currentPass" name="currentPass"
                                                           value="#{loginBean.currentPass}" styleClass="form-control"/>
                                        </div>
                                    </div>

                                    <div class="form-space"/>

                                    <div class="form-group">
                                        <label for="newPass" class="col-sm-3 control-label">Neues Passwort</label>
                                        <div class="col-sm-9">
                                            <h:inputSecret id="newPass" name="newPass" value="#{loginBean.newPass}"
                                                           styleClass="form-control newPass"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="newPassRepeat"
                                               class="col-sm-3 control-label">Neues Passwort wiederholen</label>
                                        <div class="col-sm-9">
                                            <h:inputSecret id="newPassRepeat" name="newPassRepeat"
                                                           value="#{loginBean.newPassRepeat}"
                                                           styleClass="form-control newPassRepeat"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <h:messages id="messages" showSummary="true" showDetail="true" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                <h:commandLink styleClass="btn btn-success" value="" id="changePassword" onclick="checkPw()">
                                    <f:ajax listener="#{loginBean.changePassword}" execute="@form" render="@form"/>
                                    <i class="fa fa-save fa-fw"/> Passwort ändern
                                </h:commandLink>
                            </div>
                        </div>
                    </div>
                </h:form>
            </div>
        </div>
    </cc:implementation>

</ui:composition>