<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite" xmlns:o="http://omnifaces.org/ui">

<composite:interface>
</composite:interface>

<composite:implementation>
    <div>
        <div class="modal fade" id="changeEmail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <h:form prependId="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">#{msg.common_changeEmail}</h4>
                        </div>
                        <div class="modal-body">

                            <div class="container-fluid">
                                <div class="form-group">
                                    <label for="newMail" class="col-sm-3 control-label">#{msg.common_email}</label>
                                    <div class="col-sm-9">
                                        <h:inputText id="newMail" name="newMail" value="#{loginBean.newEmail}"
                                                     styleClass="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <h:messages id="messagesMail" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <h:commandLink styleClass="btn btn-success" value="" id="changeEmail"
                                           onclick="$('#changeEmail').modal('hide')">
                                <f:ajax listener="#{loginBean.changeEmail}" execute="@form" render="@form"/>
                                <i class="fa fa-save fa-fw"/> E-Mail-Adresse ändern
                            </h:commandLink>
                        </div>
                    </div>
                </div>
            </h:form>
        </div>
    </div>
</composite:implementation>

</html>