<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:cc="http://java.sun.com/jsf/composite"
                xmlns:sscl="http://java.sun.com/jsf/composite/samply-share-client">

    <cc:interface>
        <cc:attribute name="chart" type="de.samply.share.model.Chart"
                             required="true" />
        <cc:attribute name="index" required="true"
                             type="java.lang.Integer"/>
    </cc:interface>

    <cc:implementation>
        <h:outputStylesheet name="webjars/jqplot/1.0.9.d96a669/jquery.jqplot.min.css" />
        <h:outputScript name="webjars/jqplot/1.0.9.d96a669/jquery.jqplot.min.js" target="head" />
        <h:outputScript name="webjars/jqplot/1.0.9.d96a669/plugins/jqplot.pieRenderer.js" target="head" />
        <h:outputScript name="webjars/jqplot/1.0.9.d96a669/plugins/jqplot.categoryAxisRenderer.js" target="head" />
        <h:outputScript name="webjars/jqplot/1.0.9.d96a669/plugins/jqplot.pointLabels.js" target="head" />
        <h:outputScript name="webjars/jqplot/1.0.9.d96a669/plugins/jqplot.barRenderer.js" target="head"/>
        <h:outputScript name="webjars/jqplot/1.0.9.d96a669/plugins/jqplot.canvasTextRenderer.js" target="head"/>
        <h:outputScript name="webjars/jqplot/1.0.9.d96a669/plugins/jqplot.canvasAxisLabelRenderer.js" target="head"/>
        <h:outputScript name="webjars/jqplot/1.0.9.d96a669/plugins/jqplot.canvasAxisTickRenderer.js" target="head"/>
        <h:outputScript name="js/charts.js" target="head" />

        <ui:fragment rendered="#{cc.attrs.chart ne null}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <div style="float:right;">
                            <h:commandLink action="#{chartDefinitionBean.editChartDefinition(cc.attrs.index)}">
                                <i class="fa fa-edit" />
                            </h:commandLink>
                            <h:outputLink value="#"
                                          onclick="showDeleteChartModal#{cc.attrs.index}();return false;">
                                <i class="fa fa-trash" />    
                            </h:outputLink>
                        </div>
                        <h:outputText value="#{MdrDataElementBean.getLabelText(cc.attrs.chart.chartDefinition.viewField1)}"/>
                    </h3>
                </div>
                <div class="panel-body">
                    <ui:fragment rendered="#{cc.attrs.chart.dataAvailable}">
                        <div id="chartDiv#{cc.attrs.index}"/>
                        <h:outputScript rendered="#{cc.attrs.chart.chartDefinition.type eq ChartType.PIE}">
                            makePieChart("chartDiv#{cc.attrs.index}", #{cc.attrs.chart.getXAsJsonArray()}, #{cc.attrs.chart.getYAsJsonArray()});
                        </h:outputScript>
                        <h:outputScript rendered="#{cc.attrs.chart.chartDefinition.type eq ChartType.HISTOGRAM}">
                            makeBarChart("chartDiv#{cc.attrs.index}", #{cc.attrs.chart.getXAsJsonArray()}, #{cc.attrs.chart.getYAsJsonArray()}, 
                            "#{MdrDataElementBean.getLabelText(cc.attrs.chart.chartDefinition.viewField1)}", "#{msg.charts_nofOccurences}");
                        </h:outputScript>
                    </ui:fragment>
                    <ui:fragment rendered="#{not cc.attrs.chart.dataAvailable}">
                        <div style="text-align: center; vertical-align: middle">
                            <h:outputText value="#{msg.charts_noChart}" />
                        </div>
                    </ui:fragment>
                </div>
            </div>
                
            <sscl:modal title="#{msg.charts_deleteChartModalTitle}"
                      modalId="DeleteChartModal#{cc.attrs.index}">
                <f:facet name="content">
                    <div class="row">
                        <div class="col-lg-12">
                            <h:outputFormat value="#{msg.charts_deleteChartText}">
                                <f:param value="#{MdrDataElementBean.getLabelText(cc.attrs.chart.chartDefinition.viewField1)}" />
                            </h:outputFormat>
                        </div>
                    </div>
                </f:facet>
                <f:facet name="buttons">
                    <h:commandButton class="btn btn-success" 
                                     action="#{chartQueryGroupController.deleteChart(cc.attrs.index)}"
                                     value="#{msg.charts_deleteChart}" />
                </f:facet>
            </sscl:modal>
                
        </ui:fragment>
    </cc:implementation>
</ui:composition>