<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:cc="http://xmlns.jcp.org/jsf/composite"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough">

    <cc:interface>
        <cc:attribute name="headingText" required="false" />
        <cc:attribute name="description" required="true" />
        <cc:attribute name="buttonText" required="false" default="#{msg.tests_check}" />
        <cc:attribute name="buttonClass" required="false" />
        <cc:attribute name="checkAction" method-signature="java.lang.String action()" required="true" />
        <cc:attribute name="checkResult" type="de.samply.share.client.model.check.CheckResult" required="true" />
        <cc:facet name="additionalContent" required="false" shortDescription="will be added between description and button. Can be used for input fields" />
    </cc:interface>

    <cc:implementation>
        <div class="panel #{empty cc.attrs.checkResult ? 'panel-default' : cc.attrs.checkResult.panelClass}">
            <ui:fragment rendered="#{not empty cc.attrs.headingText}">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <h:outputText value="#{cc.attrs.headingText}"/>
                    </h3>
                </div>
            </ui:fragment>

            <div class="panel-body" >
                <div class="description">
                    <h:outputText value="#{cc.attrs.description}" />

                    <ui:fragment rendered="#{not empty cc.facets.additionalContent}">
                        <cc:renderFacet name="additionalContent" />
                    </ui:fragment>

                    <h:commandButton action="#{cc.attrs.checkAction}"
                                     value="#{cc.attrs.buttonText}"
                                     styleClass="btn btn-xs btn-primary #{cc.attrs.buttonClass} pull-right" pass:data-loading-text="#{msg.pleaseWait}..."
                                     onclick="$(this).button('loading');">
                        <f:ajax render="@form" execute="@form" />
                    </h:commandButton>
                </div>


                <h:panelGroup layout="block" rendered="#{not empty cc.attrs.checkResult}">
                    <div style="margin-top: 5px;">
                        <div class="row">
                            <div class="col-xs-1">
                                <i class="fa fa-clock-o" />
                            </div>
                            <div class="col-xs-11">
                                <h:outputText value="#{cc.attrs.checkResult.executionDate}" />
                            </div>
                        </div>

                        <div class="row">
                            <ui:repeat value="#{cc.attrs.checkResult.messages}" var="message">
                                <div class="col-xs-1">
                                    <ui:fragment rendered="#{not empty message.iconClass}">
                                        <i class="fa #{message.iconClass}" />
                                    </ui:fragment>
                                </div>
                                <div class="col-xs-11" style="word-wrap: break-word;">
                                    <h:outputText value="#{message.entry}" />
                                </div>
                            </ui:repeat>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <h:panelGroup rendered="#{empty cc.attrs.checkResult.success}">
                                    <i class="fa fa-spin fa-spinner fa-3x" />
                                </h:panelGroup>
                                <h:panelGroup rendered="#{not empty cc.attrs.checkResult.success and not cc.attrs.checkResult.success}">
                                    <i class="fa fa-times fa-3x" style="color: red;"/>
                                </h:panelGroup>
                                <h:panelGroup rendered="#{cc.attrs.checkResult.success}">
                                    <i class="fa fa-check fa-3x" style="color: green;" />
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</ui:composition>
