<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"   >

    <composite:interface>
    </composite:interface>

    <composite:implementation>
        <div>
            <h:form>
                <div class="modal fade" id="exportDefinitionNameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">#{msg.export_saveModalTitle}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h:outputText value="#{msg.export_setName}" />
                                        </div>
                                        <div class="col-lg-12">
                                            <h:inputText value="#{exportController.exportDefinition.name}" styleClass="form-control"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">#{msg.common_cancel}</button>
                                <h:commandButton class="btn btn-success" 
                                                 action="#{exportController.save()}"
                                                 value="#{msg.common_save}" />
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>
        </div>
    </composite:implementation>

</html>