<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:cc="http://java.sun.com/jsf/composite">

<cc:interface>
</cc:interface>

<cc:implementation>
    <div>
        <h:outputScript>
            function checkConfirmation(checkText) {
                var enteredText = $('.confirmationRow :input').val();
                $('.confirmationRow :input').val('');
                if (enteredText != checkText) {
                    disableUploadForPatientsWithLocalConsent();
                }
            }

            function disableUploadForPatientsWithLocalConsent() {
                $('input[name$="uploadPatientsWithLocalConsent"]').bootstrapSwitch('state', false);
            }
        </h:outputScript>
        <h:form prependId="false" >
            <c:set var="ct" value="BESTÄTIGEN"/>
            <div class="modal fade" id="confirmUploadWithLocalConsent" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width:900px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">#{msg.uploadWithLocalConsent_title}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row" style="display: flex; align-items: center;">
                                    <div class="col-lg-2">
                                        <i class="fa fa-warning fa-3x pull-left"/>
                                    </div>

                                    <div class="col-lg-10">
                                        <h:outputText value="#{msg.uploadWithLocalConsent_content} "/>
                                        <h:outputLink value="https://ccp-it.dktk.dkfz.de"
                                                      target="_blank">#{msg.uploadWithLocalConsent_linkText}</h:outputLink>
                                        <h:outputText value=". "/>
                                        <h:outputText value="#{msg.uploadWithLocalConsent_mayDelete}"/>
                                    </div>

                                </div>
                                <div class="row confirmationRow" id="confirmationRow" style="margin-top: 40px;">
                                    <div class="col-lg-12">
                                        <h:outputText
                                                value="Bitte tippen Sie den Text '#{ct}' in das folgende Eingabefeld"/>
                                    </div>
                                    <div class="col-lg-12">
                                        <h:inputText id="confirmText" value="#{confirmText}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal"
                                    onclick="disableUploadForPatientsWithLocalConsent()">Cancel
                            </button>
                            <!--                             <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="$('input[name$=&quot;uploadPatientsWithLocalConsent&quot;]').bootstrapSwitch('state', false);">Cancel</button> -->
                            <button type="button" class="btn btn-success" data-dismiss="modal"
                                    onclick="checkConfirmation('#{ct}')">Ok
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </h:form>
    </div>
</cc:implementation>

</ui:composition>