<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="labelFor" required="true" />
        <cc:attribute name="labelText" required="true" />
        <cc:attribute name="dbTooltip" required="false" default="false" type="java.lang.Boolean" />
        <cc:attribute name="xmlTooltip" required="false" default="false" type="java.lang.Boolean" />
        <cc:attribute name="labelClasses" required="false" default="col-sm-4 col-md-3" />
        <cc:attribute name="inputClasses" required="false" default="col-sm-8 col-md-9" />
        <cc:facet name="input" required="true" />
    </cc:interface>

    <cc:implementation>
        <ui:fragment rendered="#{cc.attrs.dbTooltip}">
            <div class="form-group hasTooltip" title="#{msg.configuration_disabledDbTooltip}">
                <h:outputLabel for="#{cc.attrs.labelFor}" value="#{cc.attrs.labelText}" styleClass="#{cc.attrs.labelClasses} right-aligned-label no-padding-right" />
                <div class="#{cc.attrs.inputClasses}">
                    <cc:renderFacet name="input" />
                </div>
            </div>
        </ui:fragment>

        <ui:fragment rendered="#{cc.attrs.xmlTooltip}">
            <div class="form-group hasTooltip" title="#{msg.configuration_disabledXmlTooltip}">
                <h:outputLabel for="#{cc.attrs.labelFor}" value="#{cc.attrs.labelText}" styleClass="#{cc.attrs.labelClasses} right-aligned-label no-padding-right" />
                <div class="#{cc.attrs.inputClasses}">
                    <cc:renderFacet name="input" />
                </div>
            </div>
        </ui:fragment>

        <ui:fragment rendered="#{not cc.attrs.dbTooltip and not cc.attrs.xmlTooltip}">
            <div class="form-group">
                <h:outputLabel for="#{cc.attrs.labelFor}" value="#{cc.attrs.labelText}" styleClass="#{cc.attrs.labelClasses} right-aligned-label no-padding-right" />
                <div class="#{cc.attrs.inputClasses}">
                    <cc:renderFacet name="input" />
                    <h:message for="#{cc.attrs.labelFor}" />
                </div>
            </div>
        </ui:fragment>
    </cc:implementation>
</ui:composition>
