<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="job" type="de.samply.share.client.job.params.QuartzJob" required="true" />
    </cc:interface>

    <cc:implementation>
        <h4>#{cc.attrs.job.jobName}</h4>
        <!--<div class="row">-->
            <!--<div class="col-xs-4">-->
                <!--#{msg.jl_jobGroup}-->
            <!--</div>-->
            <!--<div class="col-xs-8">-->
                <!--#{cc.attrs.job.jobGroup}-->
            <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-xs-4">
                #{msg.jl_jobDescription}
            </div>
            <div class="col-xs-8">
                #{cc.attrs.job.description}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                #{msg.jl_cronExpression}
            </div>
            <div class="col-xs-8">
                <h:inputText value="#{cc.attrs.job.cronExpression}" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                #{msg.jl_previousFireTime}
            </div>
            <div class="col-xs-8">
                #{cc.attrs.job.previousFireTime}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                #{msg.jl_nextFireTime}
            </div>
            <div class="col-xs-8">
                #{cc.attrs.job.nextFireTime}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                #{msg.jl_actions}
            </div>
            <div class="col-xs-8" id="jobButtons">
                <h:commandLink action="#{schedulerBean.rescheduleJob(cc.attrs.job)}" value="#{msg.jl_rescheduleJobs}" styleClass="btn btn-default btn-xs"/>
                <h:commandLink action="#{schedulerBean.fireNow(cc.attrs.job.jobName, cc.attrs.job.jobGroup)}" value="#{msg.jl_fireNow}" styleClass="btn btn-default btn-xs"/>
                <ui:fragment rendered="#{not cc.attrs.job.paused}">
                    <h:commandLink action="#{schedulerBean.suspend(cc.attrs.job.jobName, cc.attrs.job.jobGroup)}" value="#{msg.jl_suspend}" styleClass="btn btn-default btn-xs" />
                </ui:fragment>
                <ui:fragment rendered="#{cc.attrs.job.paused}">
                    <h:commandLink action="#{schedulerBean.resume(cc.attrs.job.jobName, cc.attrs.job.jobGroup)}" value="#{msg.jl_resume}" styleClass="btn btn-default btn-xs" />
                </ui:fragment>
            </div>
        </div>


    </cc:implementation>
</ui:composition>
