<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="iconSizeClass" default="fa-5x" />
        <cc:attribute name="title" required="true" />
        <cc:attribute name="checkResult" type="de.samply.share.client.model.check.ConnectCheckResult" />
        <cc:attribute name="cssClass" default="col-lg-4 col-md-4 col-sm-6 col-xs-12" required="false" />
    </cc:interface>

    <cc:implementation>
        <div class="#{cc.attrs.cssClass}">
            <div class="panel panel-default welcome-panel" style="background-color: #EEE;">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <ui:fragment rendered="#{cc.attrs.checkResult.reachable}">
                                <i class="fa fa-check #{cc.attrs.iconSizeClass}" style="color: green;"/>
                            </ui:fragment>
                            <ui:fragment rendered="#{not cc.attrs.checkResult.reachable}">
                                <i class="fa fa-close #{cc.attrs.iconSizeClass}" style="color: red;" />
                            </ui:fragment>
                        </div>
                        <h:panelGroup layout="block" styleClass="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div class="row">
                                <span class="welcome-panel-title">#{cc.attrs.title}</span>
                            </div>
                            <ui:fragment rendered="#{cc.attrs.checkResult.reachable}">
                                <div class="row">
                                    <span style="font-size: 100%;">#{cc.attrs.checkResult.name}</span>
                                </div>
                                <div class="row">
                                    <span style="font-size: 100%;">#{cc.attrs.checkResult.version}</span>
                                </div>
                            </ui:fragment>
                            <ui:fragment rendered="#{not cc.attrs.checkResult.reachable}">
                                <div class="row">
                                    <span style="font-size: 100%;">#{msg.index_unreachable}</span>
                                </div>
                            </ui:fragment>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
        </div>
    </cc:implementation>
</ui:composition>
