<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:wu="http://share.samply.de/webutils"
      xmlns:sscl="http://java.sun.com/jsf/composite/samply-share-client"
>

<head>
    <link rel="stylesheet" type="text/css" href="src/main/webapp/resources/css/samply-share.css"/>
</head>
<composite:interface>
    <composite:attribute name="activePage" type="java.lang.String"/>
</composite:interface>

<composite:implementation>
    <h:form>
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="icon-bar"/> <span class="icon-bar"/> <span
                            class="icon-bar"/>
                    </button>
                    <ui:fragment rendered="#{wu:getProjectName() == 'dktk'}">
                        <a class="navbar-brand dktk" href="dashboard.xhtml?faces-redirect=true">
                            <span class="title">DKTK</span>
                            <span class="titleBlue">.Teiler</span>
                        </a>
                    </ui:fragment>
                    <ui:fragment rendered="#{wu:getProjectName() == 'gbn'}">
                        <a class="navbar-brand" href="#"><span class="title">DKTK/GBN</span><span
                                class="titleBlue">.Teiler</span></a>
                    </ui:fragment>
                    <ui:fragment rendered="#{wu:getProjectName() == 'osse'}">
                        <a class="navbar-brand" href="#"><span class="title">OSSE</span><span
                                class="titleBlue">.Share</span></a>
                    </ui:fragment>
                    <ui:fragment
                            rendered="#{wu:getProjectName() != 'osse' and wu:getProjectName() != 'dktk' and wu:getProjectName() != 'gbn'}">
                        <a class="navbar-brand" href="#"><span class="title">Samply</span><span
                                class="titleBlue">.Share</span></a>
                    </ui:fragment>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle"
                                                data-toggle="dropdown">#{loginBean.user.username}
                            <b class="caret"></b>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="$('#changePasswordModal').modal();"><i
                                        class="fa fa-gear"/> #{msg.common_changePassword}</a></li>
                                <ui:fragment
                                        rendered="#{loginBean.user.username != 'admin' and wu:getProjectName() != 'osse'}">
                                    <li><a href="#" onclick="$('#changeEmail').modal();"><i
                                            class="fa fa-envelope"/> #{msg.common_changeEmail}</a></li>
                                </ui:fragment>
                                <li class="divider"></li>
                                <li class="logoutElement">
                                    <h:commandLink action="#{loginBean.logout}"><i
                                            class="fa fa-sign-out"/> #{msg.common_logout}</h:commandLink>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </h:form>

    <sscl:changePasswordModal/>
    <sscl:changeEmailModal/>
</composite:implementation>

</html>