<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:cc="http://java.sun.com/jsf/composite"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:wu="http://share.samply.de/webutils">

    <cc:interface>
        <cc:attribute name="patientTree" type="org.omnifaces.model.tree.TreeModel" required="true" />
    </cc:interface>

    <cc:implementation>
        <o:tree value="#{cc.attrs.patientTree}" var="item" varNode="node">
            <o:treeNode level="0">
                <o:treeNodeItem>
                    <ui:param name="gender" value="#{wu:getGender(item)}"/>

                    <div class="panel panel-default" style="margin-bottom: 5px;">
                        <div class="panel-heading" role="tab" id="heading_#{node.index}">
                            <h3 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#matches" href="#collapse_#{node.index}" aria-expanded="true" aria-controls="collapse_#{node.index}">
                                    <span class="badge pull-right">#{fn:length(item.container)}</span>
                                    <ui:fragment rendered="#{gender == 'W'}">
                                        <i class="fa fa-lg fa-fw fa-venus" aria-hidden="true" />
                                    </ui:fragment>
                                    <ui:fragment rendered="#{gender == 'M'}">
                                        <i class="fa fa-lg fa-fw fa-mars" aria-hidden="true" />
                                    </ui:fragment>
                                    <ui:fragment rendered="#{gender == 'S'}">
                                        <i class="fa fa-lg fa-fw fa-intersex" aria-hidden="true" />
                                    </ui:fragment>
                                    <ui:fragment rendered="#{gender == 'U'}">
												<span class="fa-stack fa-lg fa-fw">
												  <i class="fa fa-genderless fa-stack-2x"></i>
												  <i class="fa fa-question fa-stack-1x"></i>
												</span>
                                    </ui:fragment>
                                    Patient #{item.id}
                                </a>
                            </h3>
                        </div>
                        <div id="collapse_#{node.index}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_#{node.index}">
                            <ul class="list-group result-list-patient-attribute">
                                <ui:repeat var="attr" value="#{item.attribute}">
                                    <li class="list-group-item">
                                        <h:panelGroup layout="block" styleClass="row">
                                            <h:panelGroup layout="block" styleClass="col-xs-6">
                                                #{wu:getDesignation(attr.mdrKey, 'de')}
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="col-xs-6">
                                                #{wu:getValueDesignation(attr.mdrKey, attr.value, 'de')}
                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </li>
                                </ui:repeat>
                            </ul>
                            <o:treeInsertChildren />
                        </div>
                    </div>
                </o:treeNodeItem>
            </o:treeNode>
            <o:treeNode>
                <ui:param name="panelClass" value="panel-default" />
                <ui:param name="leftMargin" value="#{node.level * 5}px"/>
                <ui:param name="designation" value="#{item.designation}" />

                <o:treeNodeItem>
                    <h:panelGroup layout="block" styleClass="panel #{panelClass}" style="margin-bottom: 5px; margin-left: #{leftMargin};">
                        <div class="panel-heading" role="tab" id="heading_#{node.index}">
                            <h3 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#collapse_#{wu:getParentNodeIndex(node.index)}" href="#collapse_#{node.index}" aria-expanded="true" aria-controls="collapse_#{node.index}">

                                    <ui:fragment rendered="#{designation.equalsIgnoreCase('diagnosis')}">
                                        <i class="fa fa-lg fa-fw fa-stethoscope" aria-hidden="true" />
                                    </ui:fragment>
                                    <ui:fragment rendered="#{designation.equalsIgnoreCase('sample')}">
                                        <i class="fa fa-lg fa-fw fa-flask" aria-hidden="true" />
                                    </ui:fragment>
                                    <ui:fragment rendered="#{designation.equalsIgnoreCase('tumour')}">
                                        <i class="fa fa-lg fa-fw fa-arrows-alt" aria-hidden="true" />
                                    </ui:fragment>
                                    <ui:fragment rendered="#{designation.equalsIgnoreCase('tnm')}">
                                        <i class="fa fa-lg fa-fw fa-sliders" aria-hidden="true" />
                                    </ui:fragment>
                                    <ui:fragment rendered="#{designation.equalsIgnoreCase('metastasis')}">
                                        <i class="fa fa-lg fa-fw fa-share-alt" aria-hidden="true" />
                                    </ui:fragment>
                                    <ui:fragment rendered="#{designation.equalsIgnoreCase('histology')}">
                                        <i class="fa fa-lg fa-fw fa-picture-o" aria-hidden="true" />
                                    </ui:fragment>
                                    <ui:fragment rendered="#{designation.equalsIgnoreCase('progress')}">
                                        <i class="fa fa-lg fa-fw fa-spinner" aria-hidden="true" />
                                    </ui:fragment>
                                    <ui:fragment rendered="#{designation.equalsIgnoreCase('radiationtherapy')}">
                                        <i class="fa fa-lg fa-fw fa-circle-o" aria-hidden="true" />
                                    </ui:fragment>
                                    <ui:fragment rendered="#{designation.equalsIgnoreCase('systemtherapy')}">
                                        <i class="fa fa-lg fa-fw fa-circle-o" aria-hidden="true" />
                                    </ui:fragment>
                                    <ui:fragment rendered="#{designation.equalsIgnoreCase('surgery')}">
                                        <i class="fa fa-lg fa-fw fa-user-md" aria-hidden="true" />
                                    </ui:fragment>
                                    <ui:fragment rendered="#{designation.equalsIgnoreCase('SystemAdverseEffects')}">
                                        <i class="fa fa-lg fa-fw fa-circle-o" aria-hidden="true" />
                                    </ui:fragment>
                                    <ui:fragment rendered="#{designation.equalsIgnoreCase('RadiationAdverseEffects')}">
                                        <i class="fa fa-lg fa-fw fa-circle-o" aria-hidden="true" />
                                    </ui:fragment>

                                    #{designation} #{item.id}
                                </a>
                            </h3>
                        </div>
                        <div id="collapse_#{node.index}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_#{node.index}">
                            <ul class="list-group result-list-container-attribute">
                                <ui:repeat var="attr" value="#{item.attribute}">
                                    <li class="list-group-item">
                                        <h:panelGroup layout="block" styleClass="row">
                                            <h:panelGroup layout="block" styleClass="col-xs-6">
                                                #{wu:getDesignation(attr.mdrKey, 'de')}
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="col-xs-6">
                                                #{wu:getValueDesignation(attr.mdrKey, attr.value, 'de')}
                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </li>
                                </ui:repeat>
                            </ul>
                            <o:treeInsertChildren />
                        </div>
                    </h:panelGroup>
                </o:treeNodeItem>
            </o:treeNode>
        </o:tree>
    </cc:implementation>
</ui:composition>
