<!--
  ~ Copyright (c) 2017 Medical Informatics Group (MIG),
  ~ Universitätsklinikum Frankfurt
  ~
  ~ Contact: www.mig-frankfurt.de
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:cc="http://java.sun.com/jsf/composite">
<cc:interface>
    <cc:attribute name="admin" type="java.lang.Boolean" />
</cc:interface>

<cc:implementation>
    <ui:fragment rendered="#{cc.attrs.admin}">
        <div class="icon-bar">
            <h:outputLink value="dashboard.xhtml">
                <div class="ib-content">
                    <i class="fa fa-dashboard"></i><div class="text">#{msg.dashboard_title}</div>
                </div>
            </h:outputLink>

            <h:outputLink value="configuration.xhtml">
                <div class="ib-content">
                    <i class="fa fa-gears"></i><div class="text">#{msg.dashboard_configuration}</div>
                </div>
            </h:outputLink>

            <h:outputLink value="user_list.xhtml">
                <div class="ib-content">
                    <i class="fa fa-users"></i><div class="text">#{msg.dashboard_userList}</div>
                </div>
            </h:outputLink>

            <h:outputLink value="broker_list.xhtml">
                <div class="ib-content">
                    <i class="fa fa-sitemap"></i><div class="text">#{msg.dashboard_brokerList}</div>
                </div>
            </h:outputLink>

            <h:outputLink value="job_list.xhtml">
                <div class="ib-content">
                    <i class="fa fa-tasks"></i><div class="text">#{msg.dashboard_schedule}</div>
                </div>
            </h:outputLink>

            <h:outputLink value="credentials_list.xhtml">
                <div class="ib-content">
                    <i class="fa fa-key"></i><div class="text">#{msg.dashboard_credentials}</div>
                </div>
            </h:outputLink>

            <h:outputLink value="inquiry_handling.xhtml">
                <div class="ib-content">
                    <i class="fa fa-reply-all"></i><div class="text">#{msg.dashboard_inquiryHandling}</div>
                </div>
            </h:outputLink>

            <h:outputLink value="qualityreport_list.xhtml">
                <div class="ib-content">
                    <i class="fa fa-file-excel-o"></i><div class="text">#{msg.dashboard_qualityReport}</div>
                </div>
            </h:outputLink>

            <h:outputLink value="event_log.xhtml">
                <div class="ib-content">
                    <i class="fa fa-terminal"></i><div class="text">#{msg.dashboard_eventLog}</div>
                </div>
            </h:outputLink>

            <h:outputLink value="upload_list.xhtml">
                <div class="ib-content">
                    <i class="fa fa-upload"></i><div class="text">#{msg.dashboard_uploads}</div>
                </div>
            </h:outputLink>

            <h:outputLink value="tests.xhtml">
                <div class="ib-content">
                    <i class="fa fa-plug"></i><div class="text">#{msg.dashboard_tests}</div>
                </div>
            </h:outputLink>
        </div>
    </ui:fragment>


    <ui:fragment rendered="#{not cc.attrs.admin}">
        <div class="icon-bar">
            <h:outputLink value="dashboard.xhtml">
                <div class="ib-content">
                    <i class="fa fa-dashboard"></i><div class="text">#{msg.dashboard_title}</div>
                </div>
            </h:outputLink>

            <h:outputLink value="inquiries_list.xhtml">
                <div class="ib-content">
                    <i class="fa fa-inbox"></i><div class="text">#{msg.dashboard_inquiriesList}</div>
                </div>
            </h:outputLink>

            <h:outputLink value="inquiries_erroneous.xhtml">
                <div class="ib-content">
                    <i class="fa fa-exclamation-triangle"></i><div class="text">#{msg.dashboard_inquiriesError}</div>
                </div>
            </h:outputLink>

            <h:outputLink value="inquiries_archive.xhtml">
                <div class="ib-content">
                    <i class="fa fa-archive"></i><div class="text">#{msg.dashboard_inquiriesArchive}</div>
                </div>
            </h:outputLink>
        </div>
    </ui:fragment>
</cc:implementation>

</ui:composition>