<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<f:metadata>
    <f:viewAction action="#{applicationBean.updateLocalComponentInfo}" />
</f:metadata>

<h:head>
    <title>DKTK Br&uuml;ckenkopf</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <h:outputStylesheet name="webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <h:outputStylesheet name="webjars/lato/0.3.0/css/lato.min.css"/>
    <!-- Latest compiled and minified CSS -->
    <h:outputStylesheet name="webjars/bootstrap/3.3.7-1/css/bootstrap.css"/>
    <h:outputStylesheet name="webjars/bootstrap/3.3.7-1/css/bootstrap-theme.css"/>
    <h:outputStylesheet library="css" name="signin.css"/>
    <h:outputStylesheet library="css" name="samply-share.css"/>

    <o:conditionalComment if="lt IE 9">
        <h:outputScript name="webjars/html5shiv/3.7.3/html5shiv.min.js"/>
        <h:outputScript name="webjars/respond/1.4.2/dest/respond.min.js"/>
    </o:conditionalComment>
    <h:outputScript name="webjars/jquery/1.12.4/jquery.min.js"/>
    <h:outputScript name="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"/>
    <h:outputScript name="js/samply-share.js" />

</h:head>
<h:body>
        <div class="container content-container theme-showcase">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ui:include src="WEB-INF/includes/c_index_welcome.xhtml" />
                </div>
            </div>

            <h:form>
                <div class="panel panel-primary">
                    <div class="panel-heading" style="font-size: 1.5em; font-weight: bold;">
                        Lokale Komponenten
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <ui:include src="WEB-INF/includes/c_index_localComponents.xhtml" />
                        </div>
                    </div>
                </div>
            </h:form>

            <h:form>
                <div class="panel panel-primary">
                    <div class="panel-heading" style="font-size: 1.5em; font-weight: bold;">
                        Zentrale Dienste
                    </div>
                    <div class="panel-body">
                    <div class="row">
                        <ui:include src="WEB-INF/includes/c_index_centralComponents.xhtml" />
                    </div>
                    </div>
                </div>
            </h:form>

        </div>
</h:body>
</html>