<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<!--<f:metadata>-->
<!--<f:viewParam name="signinToken" value="#{loginController.signinToken}" />-->
<!--<f:viewAction action="#{loginController.loginWithToken}" />-->
<!--</f:metadata>-->

<h:head>
    <title>#{applicationBean.getDisplayName()}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <h:outputStylesheet name="webjars/font-awesome/4.7.0/css/font-awesome.min.css" />
    <h:outputStylesheet name="webjars/lato/0.3.0/css/lato.min.css"/>
    <!-- Latest compiled and minified CSS -->
    <h:outputStylesheet name="webjars/bootstrap/3.3.7-1/css/bootstrap.css"/>
    <h:outputStylesheet name="webjars/bootstrap/3.3.7-1/css/bootstrap-theme.css"/>
    <h:outputStylesheet library="css" name="signin.css"/>
    <h:outputStylesheet library="css" name="samply-share.css"/>

    <o:conditionalComment if="lt IE 9">
        <h:outputScript name="webjars/html5shiv/3.7.3/html5shiv.min.js"/>
        <h:outputScript name="webjars/respond/1.4.2/dest/respond.min.js"/>
    </o:conditionalComment>
    <h:outputScript name="webjars/jquery/1.12.4/jquery.min.js"/>
    <h:outputScript name="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"/>

</h:head>
<h:body styleClass="lightBackground">
    <f:view transient="true">
        <f:metadata>
            <f:viewParam name="requestedPage" value="#{loginBean.requestedPageParameter}" />
        </f:metadata>
        <ui:include src="WEB-INF/includes/c_loginPanel.xhtml" />
    </f:view>
</h:body>
</html>